::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgb(77, 77, 77);
}
  
::-webkit-scrollbar-thumb:hover {
    background: #000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    padding: 2rem 1rem;
} .list-info {
    padding: .5rem 0;
}

section, main {
    margin-bottom: 2rem;
} .title, .link {
    margin-bottom: 1rem;
} .label-info {
    margin-bottom: .3rem;
} .list-activities {
    margin: .55rem 0;
}

a {
    font-size: .85rem;
} .label-info {
    font-size: .75rem;
}

a {
    color: rgb(77, 77, 77);
    text-decoration: none;
} a:hover {
    text-decoration: underline;
}

time, .title {
    font-style: italic;
} .count-number {
    font-weight: bold;
    background: none;
}

time, span {
    background: yellow;
}

#info-group {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
} #info-group section {
    width: 100%;
}

button {
    padding: .8rem .5rem;
    background: yellow;
    border: none;
    position: fixed;
    bottom: 30px;
    right: 30px;
    cursor: pointer;
    display: none;
    transition: .5s;
}

button:hover {
    background: black;
}

button:hover img {
    filter: invert();
}

.wrapper img {
    width: 100%;
    float: left;
}

.wrapper article p{
    margin-bottom: 1rem;
}

@media (min-width: 600px) {
    body {    
        padding: 4rem 5rem;
    }

    #info-group {
        gap: 0;
        flex-direction: row;
    }

    #info-group section {
        width: 45%;
    }

    .wrapper img { 
        width: 200px;
    }
}